	@import url('https://fonts.googleapis.com/css?family=Cabin|Droid+Serif|Fjalla+One|Oxygen|PT+Serif|Roboto|Sahitya|Sansita');

*{
	font-family:Droid Serif;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	transition:ease-in-out 0.8s;
}
h1{
font-family:PT Serif;
}
h2{
font-family:Roboto;
text-transform:uppercase;
padding:20px;
}
h3{
font-family:Sahitya;
}
p{
font-family:Sansita;
}
.fa{
	transition:all 0.7s;
}
a{
text-decoration: none;
}
.fa:hover{
	background:#e6ccb3;
	color:#ffffff;
}
.wrapper{
padding:40px;
}

#about,#education,#skills,#portfolio,#contact{
	padding-top:120px;
}

.overlay{
margin-top:120px;
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
height:115%;
 width:100%;
 z-index:200;
background-color: rgba(0,0, 0, 0.7);
color:#ffffff;
}
#home h1{
	margin-top:30px;
}
/*==========  navmenu ================================= */
#navmenu header{
	display:block;
	padding:5px;
}
#navmenu{
	transition:linear 0.9s;
}

#navmenu.navbar{
	height:130px;
	background:#663300;
	color:#ffffff;
	padding:0 !important;
	margin:0 !important;
}

.transit_to{
	background:#b35900!important;
	color:#ffffff  !important;
}

#navmenu header h1{
	font-size:23px;
	font-weight:bold;
	text-transform:uppercase;
	margin-left:2px;
	float:left;
	padding:15px;
}
#navmenu header h1:after{
	clear:both;
}

#navmenu .navbar-brand img{
	
	width:50px;
	height:50px;
	border-radius:50%;
	background:#ffffff;
	padding:8px;
	border:2px solid #000000;
	
}
#navmenu .navbar-brand{
	padding:0;
	margin:0;
}

#navmenu header:after{
	clear:both
}
#navmenu li a{
	font-size:15px;
	color:#cccccc;
	padding:20px;
	margin-top:5px;
	
	font-weight:bold;
	text-transform:capitalize;

}
#navmenu li{
	transition:ease-in-out 0.8s;
}
#navmenu li a.on,#navmenu li a:focus, #navmenu li a:active,  #navmenu li:hover{
	margin-top:10px;
	border-radius:12%;
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
	background:transparent;
	color:#ffffff;
}
#navmenu li a.on:hover{
	border-top:0px solid #ffffff;
	border-bottom:0px solid #ffffff;
}


/* -------home ------ */
#home .qualities{
margin-top:200px;
}

#home h1{	
margin-top:70px;
text-transform: uppercase;
font-size:35px;
letter-spacing: 0.2em;
color:#f2f2f2;
}

#home p{	
color:#cccccc;
font-size:20px;

}
#home .qualities .fa{	
border-radius:50%;
border:2px solid #cccccc;
padding:40px;
}
#home .qualities .fa:hover{	
color:#000000;
}

/* About ----------------------------- */
section#about{
 background: url(../images/bgcolor/pic02.jpg) repeat;
 background-size:cover;
 background-attachment:fixed;
 color:#f2f2f2;
}

section#about .wrapper{
padding:40px;
}
section#about img{
height:240px;
width:260px;
border:3px solid #4775d1;
}

section#about .row{
padding:40px;
}

section#about p{
line-height:3.0em;
font-size:18px;
padding:20px;
}

section#about strong{
display:block;
font-size:22px;
padding:20px;
}

/* SILLS ----------------------------- */
section#skills{
background:#602040;
color:#ffffff;
}

section#skills p{
font-size:17px;
text-transform:uppercase;
}
section#skills .block{
padding-left:40px;
}
section#skills .col-md-3{
padding:15px;
width:300px;
}
section#skills .wrapper{
padding:15px;

}


/* Education ----------------------------- */
section#education{
	background:#d9d9d9;
	color:#000000;
}

section#education .block{
	padding:20px;
}

section#education .row{
	padding:35px;
}

section#education h3{
	padding-top:20px;
	border-right:4px solid #602040;
	text-align:left;
	margin-top:-10px;
}
section#education strong{
	margin-top:50px;
	font-size:16px;
	text-align:left;
	text-transform:uppercase;
}
section#education p{
	font-weight:bold;
	font-size:15px;	
}

/* Portfolio ----------------------------- */

section#portfolio .img-thumbnail{
	width:350px;
	height:290px;
	border:0;
}

section#portfolio img {
	margin-top:5px;
}

section#portfolio .info{
	border:2px solid #cccccc;
	border-radius: 7px;
	margin-top:15px;
}

section#portfolio .details{	
	margin-top:15px;
	background:#99004d;
	color:#ffffff;
	padding:30px;
	cursor:pointer;
}

section#portfolio .details{	
	line-height:2.5em;
}

section#portfolio .overlay{
	display:none;
	position:absolute;
	height:300px;
	width:450px;
	color:#ffffff;
	cursor: :pointer;
}
section#portfolio .lays{
	height:100%;
	background:rgba(102, 0, 51,0.6);
}



/*--------------Contact */
section#contact{
 background: url(../images/bgcolor/pic06.jpg) repeat;
 background-size:cover;
 background-attachment:fixed;
 color:#ffffff;
}

section#contact h2{
	padding:20px;
}

section#contact iframe[frameborder='0']{
	margin:30px;
	border:3px solid #800040;
}

section#contact .form-control{
	background:transparent;
	color:#ffffff;
	font-size:18px;
	border:3px solid #cccccc;
	height:60px;
}
section#contact textarea[name='message']{
	height:140px;
}

section#contact label{
font-weight: bold;
padding:10px;
}

section#contact .contact-info{
font-size:17px;
margin:13px 20px;
padding:15px;
}

section#contact .contact-info li{
margin:20px 0px;
padding:0px;
}
section#contact a{
color:#ffffff;
text-decoration:none;
}



/* footer ----------------------------- */
footer{
	background:#232323;
	color:#f6f6f6;
}

footer .wrapper{
	padding:30px;
}
footer ul{
	margin:20px;
	list-style:none;
}
footer ul.social li{
	margin:15px;
	padding:15px;
}
footer .contact-info i.fa,footer .contact-info span {
	display:block;
	padding:10px;
}
footer ul.address{
	position:relative;
}

footer .social i.fa{
	padding:12px;
	font-size:18px;
	width:50px;
	height:50px;
	border-radius:50%;
	border:2px solid #fcac45;
	display:table-cell;
	vertical-align:middle;
}


footer .service-intro p{
	line-height:2.5em;
	padding:10px;
	width:250px;
}
footer .links li{
	margin-left:100px;
	padding:20px;
	text-align:left;
}
footer a{
	color:#f6f6f6;
}

.copyright{
	background:#1C1C1C;
	padding:20px;
	color:#ffffff;
	text-align:center;
}
.copyright a{
	
	color:#e6ccb3;
	text-decoration:none
	
}

@media(max-width:999px){
	section#home{
	position:relative;
	overflow:hidden;
}
	
	.overlay{
				margin-top:80px;
				position:absolute;
				}
	#navmenu li a{
				font-size:12.5px;
				color:#cccccc;
				padding:10px;
				margin-top:5px;

		}
	#navmenu li a.on,#navmenu li a:focus, #navmenu li a:active,  #navmenu li:hover{
		margin-top:3px;
		border-top:1px solid #ffffff;
		border-bottom:1px solid #ffffff;
	}
	
	
	#home .qualities{
		margin-top:100px;
		}
	

	#home h1{	
		margin-top:70px;
		font-size:22px;
		}

	#home p{	
		font-size:12.5px;
	}
	
	#home .qualities .fa{	
		padding:30px;
		}
	#home h3{	
		font-size:16px;
		}

}